
<ion-app>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Főoldal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <div id="image">
    <ion-card>
      <ion-card-header>
        <img src="assets/akorhaz.ico" alt="login-logo">       
      </ion-card-header> 
    </ion-card>
  </div>
  
  <ion-input placeholder="E-mail cím" [(ngModel)]="email"></ion-input>
  <ion-input placeholder="Jelszó" type="password" [(ngModel)]="jelszo"></ion-input>
  <ion-button class="ion-margin-top" fill="outline" (click)="login()" expand="block">BELÉPÉS</ion-button>
  <ion-button class="ion-margin-top" fill="outline" (click)="register()" expand="block">REGISZTRÁCIÓ</ion-button>
  <h1>
    <p class="forgot">Elfelejtettem jelszavam</p>
  </h1>
  
  <p>{{log}}</p>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Tajti művek</ion-title>
  </ion-toolbar>
</ion-footer>
</ion-app>
