<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/logo.png" alt="login-logo">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Login site</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input placeholder="E-mail"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input placeholder="password" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button (click)="logMeIn()">LOGIN</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
